<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecit.dao.CartMapper">
    <resultMap id="BaseResultMap" type="com.ecit.bean.Cart">
        <constructor>
            <idArg column="cart_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="product_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="checked" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="created_by" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="creation_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="last_updated_by" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="last_update_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    cart_id, user_id, product_id, quantity, checked, created_by, creation_date, last_updated_by,
    last_update_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecit_cart
        where cart_id = #{cartId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ecit_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ecit.bean.Cart" useGeneratedKeys="true" keyProperty="cart_id">
    insert into ecit_cart (cart_id, user_id, product_id,
      quantity, checked, created_by, 
      creation_date, last_updated_by, last_update_date
      )
    values (#{cartId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER},
      #{quantity,jdbcType=INTEGER}, #{checked,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, 
      now(), #{lastUpdatedBy,jdbcType=BIGINT}, now()}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ecit.bean.Cart">
        insert into ecit_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                cart_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="checked != null">
                checked,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="creationDate != null">
                creation_date,
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by,
            </if>
            <if test="lastUpdateDate != null">
                last_update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                #{cartId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="checked != null">
                #{checked,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="creationDate != null">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                #{lastUpdatedBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateDate != null">
                #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ecit.bean.Cart">
        update ecit_cart
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="checked != null">
                checked = #{checked,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="creationDate != null">
                creation_date = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by = #{lastUpdatedBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = now(),
            </if>
        </set>
        where cart_id = #{cartId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ecit.bean.Cart">
    update ecit_cart
    set user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      checked = #{checked,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=BIGINT},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=BIGINT},
      last_update_date = now()
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>

    <select id="selectCartByUserIdProductId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from ecit_cart
        where user_id = #{userId}
        and product_id = #{productId}
    </select>



    <select id="selectCartByUserId" resultMap="BaseResultMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List"/>
        from ecit_cart
        where user_id = #{userId}
    </select>

    <select id="selectCartProductCheckedStatusByUserId" resultType="int" parameterType="int">
    SELECT  count(1) from ecit_cart where checked = 0 and user_id = #{userId}
  </select>


    <delete id="deleteByUserIdProductIds" parameterType="map">
        delete from ecit_cart
        where user_id = #{userId}
        <if test="productIdList != null">
            and product_id in
            <foreach collection="productIdList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>



    <update id="checkedOrUncheckedProduct" parameterType="map">
        UPDATE  ecit_cart
        set checked = #{checked},
        last_update_date = now()
        where user_id = #{userId}
        <if test="productId != null">
            and product_id = #{productId}
        </if>
    </update>


    <select id="selectCartProductCount" parameterType="int" resultType="int">
    select IFNULL(sum(quantity),0) as count from ecit_cart where user_id = #{userId}
  </select>



    <select id="selectCheckedCartByUserId" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from ecit_cart
        where user_id = #{userId}
        and checked = 1
    </select>
</mapper>